//- extends layout

block content
  h1= title
  //- p Welcome to #{title}
  p #{msgOrder}
  a(href="orders")
   button(type="button") import orders data


   p #{msgRegion}
  a(href="region")
   button(type="button") import region data

//- html
//- include index.html
   